// App's colors

$strong-cyan: #26c0ab;
$very-dark-cyan: #00494d;
$dark-grayish-cyan: #5e7a7d;
$dark-grayish-cyan-2: #7f9c9f;
$light-grayish-cyan: #c5e4e7;
$light-grayish-cyan-2: #f4fafa;
$error-color: #d08373;